## NASA Mars News

Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. 

Assign the text to variables that you can reference later.

In [1]:
# Import Dependencies

from bs4 import BeautifulSoup as bs
import os
import pandas as pd
import requests
import pymongo

In [2]:
# Import Splinter and set the chromedriver path
from splinter import Browser

In [3]:
def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
    return Browser("chrome", **executable_path, headless=False)

In [4]:
# Define browser
browser = init_browser()

In [5]:
url = 'https://mars.nasa.gov/news/'

In [6]:
# get the response
#response = requests.get(url)

#soup = bs(response.text, 'html.parser')
#print(soup.prettify())

In [7]:
#print(soup.prettify())

In [8]:
#news_title = soup.find('div',class_='content_title').text

#print(news_title)

In [9]:
#news_p = soup.find('div', class_='rollover_description_inner').text

#print(news_p)

In [11]:
browser.visit(url)

#time.sleep(1)

html = browser.html
soup = bs(html,'html.parser')

    # New Title
news_title = soup.find('div',class_='content_title').text

    # New Header
news_p = soup.find('div', class_='rollover_description_inner').text

browser.quit()

In [12]:
print(news_title)
print(news_p)

InSight Lands Praise and a Proclamation from LA County
Several members of the Mars InSight team accepted a proclamation on behalf of the mission from L.A. County Board of Supervisors on Tuesday, Feb. 19.

## JPL Mars Space Images - Featured Image

'''Visit the url for JPL Featured Space Image here.
Use splinter to navigate the site and find the image url for the current Featured Mars Image and 
assign the url string to a variable called featured_image_url.
Make sure to find the image url to the full size .jpg image.
Make sure to save a complete url string for this image.'''

In [13]:
urlimg = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [14]:
browser = init_browser()

In [15]:
# Splinter Path
#executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
#browser = Browser("chrome", **executable_path, headless=False)

In [16]:
browser.visit(urlimg)

In [17]:
# Scrape the photo
html = browser.html

In [18]:
soup = bs(html,'html.parser')
#print(soup.prettify())

In [19]:
img_url = soup.find('img', class_='thumb')['src']

In [20]:
img_url

'/spaceimages/images/wallpaper/PIA23054-640x350.jpg'

In [21]:
featured_image_url = 'https://www.jpl.nasa.gov/'+img_url

In [22]:
browser.quit()

In [23]:
# Use the requests library to download and save the image from the `img_url` above
import requests
import shutil

response = requests.get(featured_image_url, stream=True)
with open('img.jpg', 'wb') as out_file:
    shutil.copyfileobj(response.raw, out_file)

In [24]:
# Display the image with IPython.display
from IPython.display import Image
Image(url='img.png')

## Mars Weather

Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page. 

Save the tweet text for the weather report as a variable called mars_weather.

In [25]:
tweet_url = 'https://twitter.com/marswxreport?lang=en'

In [26]:
browser = init_browser()

In [27]:
# Scrape the tweet

#executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
#browser = Browser("chrome", **executable_path, headless=False)

browser.visit(tweet_url)

html = browser.html

In [28]:
twt_res = bs(html,'html.parser')

In [29]:
#print(twt_res.prettify())

In [30]:
twt_wea = twt_res.find_all('p',class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")

In [31]:

#print(twt_wea)

In [37]:
wheather_tweet = twt_wea[0].text

wheather_tweet = wheather_tweet.replace('pic.twitter.com/h8gODY5bfk','')

print(wheather_tweet)

InSight sol 89 (2019-02-26) low -95.1ºC (-139.2ºF) high -14.4ºC (6.1ºF)
winds from the SW at 4.3 m/s (9.6 mph) gusting to 12.4 m/s (27.8 mph)
pressure at 7.20 hPa

In [38]:
browser.quit()

## Mars Facts

Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

Use Pandas to convert the data to a HTML table string.

In [39]:
fact_url = 'https://space-facts.com/mars/'

browser = init_browser()

#executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
#browser = Browser("chrome", **executable_path, headless=False)

browser.visit(fact_url)

In [40]:
res = requests.get(fact_url)

In [41]:
soup = bs(res.text,'html.parser')

In [42]:
tbl_title = soup.find('h2').text

print(tbl_title)

tbl = soup.find_all('tbody',id_='tablepress-mars')
#tbl = soup.find_all('tbody')

Mars Planet Profile

In [43]:
#fact_find = []

#for x in range(0,8):
#    tbl_fact={}
#    table = tbl.find('tr',class_="row"+x+%)
#    col1 = tbl.find('td',class_='column-1')[x].text
#   print(col1)
#    col2 = tbl.find('td',class_='column-2')[x].text
#    print(col2)
#    tbl_fact={'column1':col1,
#            'column2':col2}
#    fact_find.append(tbl_fact)

#fact_find

In [44]:
fact = pd.read_html(fact_url)

In [45]:
fact_df = pd.DataFrame(fact[0])

In [46]:
fact_df = fact_df.rename(columns={0:'Description',
                                 1: 'Values'})

In [47]:
fact_df = fact_df.set_index('Description')

In [48]:
fact_df

                                             Values
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [49]:
dfhtml = fact_df.to_html()

In [50]:
dfhtml = dfhtml.replace("\n"," ")

In [51]:
dfhtml

'<table border="1" class="dataframe">   <thead>     <tr style="text-align: right;">       <th></th>       <th>Values</th>     </tr>     <tr>       <th>Description</th>       <th></th>     </tr>   </thead>   <tbody>     <tr>       <th>Equatorial Diameter:</th>       <td>6,792 km</td>     </tr>     <tr>       <th>Polar Diameter:</th>       <td>6,752 km</td>     </tr>     <tr>       <th>Mass:</th>       <td>6.42 x 10^23 kg (10.7% Earth)</td>     </tr>     <tr>       <th>Moons:</th>       <td>2 (Phobos &amp; Deimos)</td>     </tr>     <tr>       <th>Orbit Distance:</th>       <td>227,943,824 km (1.52 AU)</td>     </tr>     <tr>       <th>Orbit Period:</th>       <td>687 days (1.9 years)</td>     </tr>     <tr>       <th>Surface Temperature:</th>       <td>-153 to 20 °C</td>     </tr>     <tr>       <th>First Record:</th>       <td>2nd millennium BC</td>     </tr>     <tr>       <th>Recorded By:</th>       <td>Egyptian astronomers</td>     </tr>   </tbody> </table>'

In [52]:
browser.quit()

## Mars Hemispheres

1. Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.

2. You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.

3. Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.

4. Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [53]:
import time

hemis_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [54]:

#executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
#browser = Browser("chrome", **executable_path, headless=False)

browser = init_browser()

browser.visit(hemis_url)

html = browser.html

In [55]:
# Get response

hemisphere = requests.get(hemis_url)

In [56]:
soupimg = bs(hemisphere.text,'html.parser')

In [57]:
# define store list
hemis_image = []

In [58]:
for x in range(4):
    time.sleep(5)
    images = browser.find_by_tag('h3')
    images[x].click()
    html = browser.html
    soup = bs(html, 'html.parser')
    image1 = soup.find('img',class_='wide-image')['src']
    image_title = soup.find('h2', class_='title').text
    image1_url = 'https://astrogeology.usgs.gov' + image1
    img_dict = {'title':image_title,
               'image_url':image1_url}
    hemis_image.append(img_dict)
    browser.back()

In [59]:
hemis_image

[{'title': 'Cerberus Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [60]:
browser.quit()